.tg  {
    border-collapse:collapse;
    border-spacing:0;
    border-color:#999;
    float: left;
}

.tg td {
    font-family:Arial, sans-serif;
    font-size:14px;
    padding:10px 5px;
    border-style:solid;
    border-width:1px;
    overflow:hidden;
    word-break:normal;
    border-color:#999;
    color:#444;
    background-color:#F7FDFA;
    text-align: center;
}

.tg th {
    font-family:Arial, sans-serif;
    font-size:14px;
    font-weight:normal;
    padding:10px 5px;
    border-style:solid;
    border-width:1px;
    overflow:hidden;
    word-break:normal;
    border-color:#999;
    color:#fff;
    background-color:#26ADE4;
}

.tg img{
	width:200px;
}

.centered {
    text-align: center;
}

#container {
	position:relative;
}



#lyrics {
	position:fixed;
	top:1em;
	right:1em;
	display:inline-block;
    border: red;
    border-style: dashed;
}

.button{
	padding:4px;
	cursor:pointer;
	border:1px solid black;
	border-radius:4px;
	transition:all ease 0.2s;
}
.button:hover{
	background-color:rgba(0,0,0,0.3);
}
.button:active{
	background-color:rgba(0,0,0,0.2);
}